.row {
	display: flex;
	flex-wrap: wrap;
}


.about {
	background-color: #FFE4B5;
	padding: 6rem 0;
}

.row-about {
	margin-bottom: 70px;
}

.about .about-col, .img-area {
	position: relative;
	padding: 0 20px;
}

.img-area {
	position: relative;
	padding: 170px 20px 50px 30px;
	left: -1rem;
	right: auto;
	font-style: italic;
	//font-weight: 300;
	font-size: 1.1rem;
}

.about-img {
	min-width: 100%;
	border-radius: 0.5rem;

}

.photo-banner-end {
	position: absolute;
	width: 200px;
	height: 200px;
	padding: 10px 20px;
	top: 8rem;
	left: -1rem;
	align-items: start;
	justify-content: center;
	background-color: #3EA99F;
	border-radius: 25% 10%;
	color: #FFFFFF;
}

.fa-lightbulb {
	padding: 10px 8px;
	font-size: 2.5rem;
	
}

.banner-text {
	padding: 10px;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5rem;
}

.text-area {
	position: relative;
	padding: 3rem 0;
	color: #333;
}

.tag-line {
	position: relative;
	display: block;
	text-transform: capitalize;
	text-align: left;
	font-size: 1rem;
	font-weight: 900;
	font-style: italic;
	color: #008B8B;
	margin-bottom: 10px ;
	letter-spacing: 1px;
	padding-left: 60px;
}

.tag-line::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 50px;
	height: 4px;
	top: 50%;
	background-color: #008B8B;
	margin-right: 10px;
	transform: translateY(-50%);
	left: 0;
} 

.about-title {	
	text-transform: capitalize;
	font-size: 2.25rem;
	font-weight: 900;
	margin-bottom: 3rem;
}

.about-text {
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 2rem;
	line-height: 1.5rem;
}

.about-stats {
	margin: 4rem 0;
}

.stat-num {
	display: inline-block;
	position: relative;
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 0.25rem;
}

 .sign {
	position: absolute;
	font-size: 2.5rem;
	font-weight: 600;
	text-align: center;
	color: #008B8B;
	transform: translate(-100%, 6%);
	margin-left: 20px;

}


.counter { 
	margin-left: 20px;	
}

.stat-desc {
	padding-left: 20px;
	font-size: 1.2rem;
	font-weight: 700;
	color: #C71585;
}


/* contect-block2 */


.menu-items {
	padding-bottom: 2rem;
}

.info-item {
	display: flex;
	color: #333;
	margin-bottom: 20px;
}

.info-icon {
	color: #DB7093;
	font-size: 2.5rem;
	font-weight: 800;
	padding: 5px;
}

.info-content {
	margin-left: 20px;
	align-items: start;
}

.info-title{
	font-size: 1.5rem;
	font-weight: 800;
	text-transform: capitalize;
}

.info-text {
	padding-right: 4rem;
	font-size: 1rem;
	font-weight: 600;
}

.photo-banner-start {
	position: absolute;
	width: 200px;
	height: 200px;
	padding: 10px;
	top: 8rem;
	right: -2rem;
	align-items: start;
	justify-content: center;
	background-color: #3EA99F;
	border-radius: 10% 25%;
	color: #FFFFFF;
}

.fa-external-link-alt {
	padding: 10px;
	font-size: 2rem;
	font-weight: 600;
}

@media screen and (max-width: 991px) {	

	.about-block {
		margin: 0 auto;
	}

	.img-area {
		padding-top: 20px;
	}

	.photo-banner-end {
		width: 150px;
		height: 150px;
		padding: 10px;
		top: -0.5rem;
		left: 0.5rem;
		align-items: start;
		justify-content: center;
		border-radius: 25% 10%;
	}

	.fa-lightbulb {
		padding: 8px;
		font-size: 1.5rem;	
	}

	.banner-text {
		padding: 5px;
		font-size: 0.9rem;
		line-height: 1rem;
	}

	.photo-banner-start {
		width: 150px;
		height: 150px;
		padding: 10px;
		top: -0.5rem;
		right: -0.5rem;
	}

	.fa-external-link-alt {
		padding: 8px;
		font-size: 1.5rem;
	}

	.about-area {
		margin-top: 3rem;
	}
}

@media screen and (max-width: 377px) {
	.text-area {
		padding: 2rem 0;
	}

	.photo-banner-end {
		display: none;
	}

	.stat-num {
		font-size: 2rem;	
	}

	.sign {
		font-size: 2rem;
		transform: translate(-100%, -2%);
	}

	.stat-desc {
		font-size: 1rem;
	}

	.photo-banner-start {
		display: none;
	}

}


@media screen and (max-width: 275px) {
	.img-area {
		padding-top: 30px;
	}

	.stat-num {
		font-size: 1.3rem;	
	}

	.sign {
		font-size: 1.5rem;
		transform: translate(-100%, -8%);
	}

	.stat-desc {
		font-size: 0.8rem;
	}

	.about-area {
		margin-top: 1.5rem;
	}

	.about-title {	
		font-size: 2rem;
		font-weight: 900;
	}

}



